@import url('../../node_modules/chota/dist/chota.css');

body {
  margin-left: 5px;
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.1s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
